<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consciência Feminina</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

<body>
    <header>
        <div class="logo-container">
            <img src="../static/img/logos/LOGO VERTICAL BRANCO E COLORIDO.png" alt="Logo" class="logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#colecao">Coleção</a></li>
                <li><a href="#manifesto">Manifesto</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
            <div class="hamburger">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>
    <main>
        <section id="sobre">
            <h2><i class="fas fa-info-circle"></i> Sobre</h2>
            <h1>Visão e Valores</h1>
            <div class="sobre-section">
                <img src="../static/img/sobre_img/img25.jpg" alt="">
                <p>
                    Somos uma marca com ideias de Fortalecimento da luta Feminina.
                    Acreditamos em seu poder coletivo para desafiar a estruturas opressivas e criar estruturas novas e
                    libertadoras.
                </p>
            </div>
            <div class="sobre-section-1">
                <p>A marca <span>CONSCIÊNCIA FEMININA</span> nasce da inspiração de empoderar mulheres que abraçam a
                    liberdade em
                    toros os aspectos da sua vida.
                    Criamos uma marca que seja o reflexo da visão de força e diversidade da mulher contemporânea. Cada
                    detalhe e projetado para celebrar a mente, o corpo e a alma livre, proporcionando não apenas estilo,
                    mas também uma declaração de independência, autoexpressão e liberdade. </p>
                <img src="../static/img/sobre_img/FOTO SOBRE 01.jpg" class="img-sobre-section-1" alt="foto-01">
            </div>
            <div class="icone-social">
                <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                    target="_blank" tex><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-whatsapp"></i></a>
                <a href=""><i class="bi bi-threads"></i></a>
            </div>
            <img src="../static/img/logos/LOGO TAG PRETO.png" class="img-sobre-icone" alt="Imagem Sobre">
        </section>
        <section id="colecao">
            <div class="container">
                <h2 class="text-center mb-4"><i class="fas fa-tshirt"></i> Coleção</h2>
                <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-flex">
                                <div class="card">
                                    <img src="../static/img/estampas/ESTAMPA 01.jpg" class="card-img-top"
                                        alt="Estampa 01">
                                    <div class="card-body">
                                        <h5 class="card-title">Demostrativo estampa 01</h5>
                                        <p class="card-text">Os produtos estão em etapa de desenvolvimentos, para mas
                                            informação clica no ícone abaixo.</p>
                                        <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank" class="btn btn-primary">Para saber Mais</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../static/img/estampas/ESTAMPA 02.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Demostrativo estampa 02</h5>
                                        <p class="card-text">Os produtos estão em etapa de desenvolvimentos, para mas
                                            informação clica no ícone abaixo.</p>
                                        <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank" class="btn btn-primary">Para saber Mais</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../static/img/estampas/ESTAMPA 03.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Demostrativo estampa 03</h5>
                                        <p class="card-text">Os produtos estão em etapa de desenvolvimentos, para mas
                                            informação clica no ícone abaixo.</p>
                                        <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank" class="btn btn-primary">Para saber Mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex">
                                <div class="card">
                                    <img src="../static/img/estampas/ESTAMPA 04.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Demostrativo estampa 04</h5>
                                        <p class="card-text">Os produtos estão em etapa de desenvolvimentos, para mas
                                            informação clica no ícone abaixo.</p>
                                        <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank" class="btn btn-primary">Para saber Mais</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="../static/img/estampas/ESTAMPA 05.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Demostrativo estampa 05</h5>
                                        <p class="card-text">Os produtos estão em etapa de desenvolvimentos, para mas
                                            informação clica no ícone abaixo.</p>
                                        <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank" class="btn btn-primary">Para saber Mais</a>
                                    </div>
                                </div>
                                <div class="card">
                                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">Demostrativo estampa 06</h5>
                                        <p class="card-text">Os produtos estão em etapa de desenvolvimentos, para mas
                                            informação clica no ícone abaixo.</p>
                                        <a href="https://www.instagram.com/conscienciafemininaa?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
                                            target="_blank" class="btn btn-primary">Para saber Mais</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden"></span>
                    </button>
                </div>
            </div>

            <!-- Adicione mais produtos conforme necessário -->
        </section>
        <section id="manifesto">
            <h2><i class="fas fa-bullhorn"></i> Manifesto: Liberdade e Presença</h2>
            <h3 class="manifesto-h3">A Voz que Não se Silencia</h3>
            <div class="manifesto-section">
                <img src="../static/img/manifesto/MANIFESTO 1.jpg" alt="">
                <p>Nós, da <span>Consciência Feminina</span>, afirmamos a importância da presença e da liberdade
                    de expressão
                    das mulheres em todos os aspectos da vida. Em um mundo onde as estruturas ainda tentam
                    silenciar e subjugar, nossa missão é desafiar essas normas e promover um espaço onde cada
                    voz feminina possa se erguer, ser ouvida e respeitada.</p>
            </div>
            <h3 class="manifesto-h3">Desafiando Estruturas Opressoras</h3>
            <div class="manisfesto-section-1">
                <p>
                    A nossa luta vai além de simplesmente ser ouvidas; é uma batalha contra as estruturas que
                    perpetuam a desigualdade e a opressão. Lutamos para derrubar barreiras que limitam o
                    potencial das mulheres e questionamos sistemas que historicamente mantêm as mulheres em
                    posições de subjugação. Cada passo que damos é um passo em direção a um mundo mais justo,
                    onde todas as mulheres têm a oportunidade de brilhar e expressar suas verdades.
                </p>
                <img src="../static/img/manifesto/MANIFESTO 2.jpg" alt="">
            </div>
            <h3 class="manifesto-h3">Celebrando a Diversidade Feminina</h3>
            <div class="manifesto-section-2">
                <img src="../static/img/manifesto/MANIFESTO 3.jpg" alt="">
                <p>
                    A diversidade é nossa força. Celebramos cada identidade feminina, reconhecendo que a
                    liberdade de expressão não deve ser padronizada. Desde o estilo pessoal até as aspirações
                    profissionais, apoiamos a expressão autêntica e a individualidade de cada mulher. Nossa
                    missão é criar um espaço onde todas possam se sentir representadas e valorizadas,
                    contribuindo para um coletivo mais forte e diversificado.
                </p>
            </div>
            <h3 class="manifesto-h3">Empoderamento Através da Moda</h3>
            <div class="manifesto-seciton-3">
                <p>
                    A moda é uma ferramenta poderosa para a autoexpressão e a afirmação pessoal. Através da
                    nossa coleção, buscamos oferecer peças que não apenas destacam a beleza exterior, mas também
                    refletem o poder interior e a resistência. Cada detalhe é projetado para celebrar a força e
                    a independência de cada mulher, encorajando-as a se destacar e a abraçar sua verdadeira
                    essência.
                </p>
                <img src="../static/img/manifesto/MANIFESTO 4.png" alt="">
            </div>
            <h3 class="manifesto-h3">Juntas Somos Mais Fortes</h3>
            <div class="manifesto-section-4">
                <img src="../static/img/manifesto/MANIFESTO 5.png" alt="">
                <p>
                    Unidas, nossas vozes são mais poderosas. Convidamos você a se juntar a nós nesta jornada de
                    empoderamento e transformação. Vamos criar um futuro onde as mulheres não apenas existam,
                    mas floresçam e sejam protagonistas de suas próprias histórias. Seu apoio é essencial para
                    que possamos continuar lutando por igualdade e justiça, e para que possamos construir um
                    mundo onde cada mulher tem a liberdade de ser quem realmente é.
                </p>
            </div>
            <blockquote>"Liberdade, igualdade e expressão!"</blockquote>
        </section>
        <section id="contato">
            <h2><i class="fas fa-envelope"></i> Contato</h2>
            <form>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email">

                <label for="mensagem">Mensagem:</label>
                <textarea id="mensagem" name="mensagem"></textarea>

                <button type="submit">Enviar</button>
            </form>
            <p>Email: contato@concienciafeminina.com</p>
            <p>Telefone: (11) 99488-4858</p>
        </section>
    </main>
    <footer>
        <p>© 2024 Consciência Feminina</p>
    </footer>
    <script src="../static/scripts/scripts.js"></script>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>